* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  padding: 1rem;
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Estilos para o menu em dispositivos móveis */
.MuiMenu-paper {
  min-width: 200px;
}

.MuiMenuItem-root .MuiSvgIcon-root {
  font-size: 1.2rem;
}

.menu button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu button:hover {
  background-color: #0056b3;
}

.login-icon {
  cursor: pointer;
  color: #343a40;
}

.main-content {
  flex: 1;
}

.footer {
  height: 5vh;
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  width: 100%;
}
